<!doctype html>
<html lang="en">

<head>
    <script src="{{url_for('static', filename='jac.js')}}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Insurance Prediction GUI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Insurance Prediction GUI</a>
    </div>
  </nav>

  <div class="container">
    <form action = "/pred" method = "post" enctype="multipart/form-data" >  
    <div class="mb-3">
        <label for="file" class="form-label">Upload the dataset in CSV, EXCEL (xlsx).</label>
        <input class="form-control" type="file" name="file">
      </div>
        <button type="submit" class="btn btn-primary">Run</button>
    </form>        

    <!--Following code is : IF ELSE condition to show results after file validation.-->
    {% if sub == True %}
    "Successfully Uploaded"
      <div class="card mb-3">
        <img src="/static/temp/WCplot.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Word Cloud Plot</h5>
          <p class="card-text">The bigger and bolder the word appears, the more often it's mentioned within a given text and the more important it is.</p>
          <p class="card-text"><small class="text-body-secondary"></small></p>
        </div>
      </div>   
    {% elif sub == "File Uploaded is not in valid format." %}
      "File Uploaded is not in valid format."
    {% endif %}


</div>





















<body>
    <script src="/static/jac.js "></script>
    <!-- <script src="static/bootstrap.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>